[submodule "vim/bundle/delmitmate"]
	path = vim/bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/hallison/vim-markdown
[submodule "vim/bundle/handlebars"]
	path = vim/bundle/handlebars
	url = https://github.com/nono/vim-handlebars.git
